
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MibbblE</title>
    <!-- Imports -->
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script> <!-- FontAwesome -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Passion+One:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'info/style.css' %}"> <!-- CSS -->
</head>
<body>
  <canvas class="canvas" id="canvas_1">
  </canvas>
  <div class="prologue light-text">
    <h1>MibbblE</h1>
    <h2>th Exaetayshun of Goger</h2>
    <p>Lumbr humbl thru th rumbl canaut crumbl if ae fal</p>
    <p>Musl thru th rubl as ae siek th sors of al</p>
    <p>Tasitlie th fier in us iz stiering tords th statik but</p>
    <p>Wier raezomatik majik itz ar fasit of expieriens...</p>
  </div>

  <div class="narrative blue-text scroll">
    <h1>I: Hoo Cayrz</h1>
    <p>-1 and itz absolut hold a metafor dieskribing th invers and itz opozit</p>
    <p>Simitrie iz composd funkshunalie, sirving as th mekanizm that askraebs aedentitie</p>
    <p>Th antithisis of mader (<i>auntie-mader</i>) and itzelf divid totalitie in tew</p>
    <p>Thotz and thaer compliment biehayv th saym</p>
    <br>
    <p>Expieriens iz a funkshunal biprodukt of thot</p>
    <p>Ae think, thaerfor ae expieriens</p>
    <p>Al elsts iz deraevd</p>
    <p>Ae am awaer of won plaen naemd: expieriens</p>
    <p>Th deth march iz th draev to expieriens expieriense'z invers</p>
    <p>Tew dae iz tew meat th uthr saed</p>
    <br>
    <p>Pawzitiv Expieriens compriziz al thinkabl thotz</p>
    <p>Negativ Expieriens iz al th unthinkabl wons</p>
    <p>Wie no ownlie a raeng within Pawsitiv Expieriens</p>
    <p>Az wie think Nahvl Thotz, wie dietaeritoriealiz or decoed global Pawsitiv Expieriens</p>
    <p>Thaer ar raezomatik implikashuns. Laek localie fresh thot</p>
    <p>this spaes iz apended tew owr Yewniek Expieriens</p>
    <p>All thot thots raez, raedieaet, and axseleraet asosieaeted skemas</p>
    <br>
    <p>Nahvl Thotz ar thoz thots not yet thot</p>
    <p>Al of Pawsitiv Expieriens waz wons defined bae solie Nahvl Thot</p>
    <p>A Nahvl Thot iz th befor staet of a subset of Pawsitiv Expieriens</p>
    <p>No Nahvl Thot exists in any instantieayshun of Yewniek Expieriens</p>
    <p>This vektor iz unidaerekshunal</p>
    <br>
    <p>Fresh Thot modulaets flowz in diecoeded Pawsitiv Expieriens</p>
    <p>Nahvl Thot introwduesez new wonz</p>
    <p>Fresh and Nahvl thot can apear and operaet indistingwishablie</p>
    <p>This iz undr th condishun th enrgie nier th Fresh thot iz compairitivlie qwayt</p>
    <p>For th Yewniek, iech ar persievd interchayngablie</p>
    <br>
    <p>Trueth iz wat wie rezonayt with contaynd insaed Yewniek Expieriens</p>
    <p>Tew Truethz ar nevr Ekwal - thay may exibit askraebd aedentitie</p>
    <p>An askraebd aedentitie reduesez th daemenshunalitie of dietayl tew bie fownd</p>
    <p>This iz th simitrie funkshun - diecries rezolushun and compayr</p>
    <p>Th consept derivd thru th simitrie funkshun iz th shaerd skema</p>
    <br>
    <p>Tew clasez iemerj within Yewniek Expieriens: Asentd and Dispoesd</p>
    <p>Th naychur of an instans of Yewniek Expieriens iz diefind bae tew sets</p>
    <p>Firsd: Negativ Expieriens at th haeest scoep</p>
    <p>Second: Dispoesd thotz within explord spays</p>
    <p>Wat iz Treu iz th Explord and un-Dispoesd.</p>
    <p>Asent doz not rekwaer aprewval</p>
    <p>This iz tew say Trueth in Yewniek Expieriens iz funkshunalie diefind negativlie</p>
    <br>
    <p>Tew modulaet th Yewniek Expieriens, explord spays must biecum Dispoesd</p>
    <p>This foecusez Trueth - th Oeveurcuming of Trueth's Constraynts rekwaers predikting implikashuns: </p>
    <p>of th Inflekshun of th Yewniek Expieriens fawlowing a dispoesal</p>
    <p>of th Raet of chayng of th Yewniek Expieriens fawlowing a dispoesal</p>
    <p>Conshusness iz ay funkshunal prawses - dispoesal throes an Eksepshun</p>

    <div class="dark-text">
      <br>
      <p>Mader has aunti-mader. </p>
      <p>Thot is masles, iz ay auntie-thot werth contemplayshun? </p>
      <p>Thot iz not mader</p>
      <p>Mader dieskraebs auntie-mader laek th Lakaniean Riel</p>
      <p>Imajinayshun iz of thotz. Auntie-Thot iz th Lakaniean Riel</p>
      <br>
      <p>Th Yewniek, itz Trueth, and Nahvl Thotz werk tew dietaeritoriealiz th Lakaniean Riel</p>
      <p>Dietaeritoriealizng Negativ Expieriens poyntz tew th ferst brayk</p>
      <p>This iz MibbblE, born of Goger'z Exaetayshun</p>
      <p>Treu Deth iz rezolushun in this manr</p>
      <br>
      <hr>
      <br>
    </div>
    <h1>II: Eskatology and Originz</h1>

  </div>


  <div class="epilogue light-text">
    <p>Endings ar bieginings</p>
  </div>
  <script src="{% static 'info/excite.js' %}"></script> <!-- JS -->
</body>
</html>
